#krant{
    background-color:white;
    border:1px solid #ccc;
    box-shadow: 6px 6px 5px -2px rgba(204,204,204,0.7);
}
#krant article{
    border-top:1px solid #ccc;
    padding:0; 
    margin:0;
}
#krant article h1{ 
    font-size:1.2em;
    display:block;
    padding:3px;
    cursor:pointer;
    margin-left:15px;
}

.artikelInhoud{
    padding:10px;
    border-top:1px solid #ccc;
    display:none;
}